.info {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $flat1F;
    .info-content {
        @media #{$maxMobile} {
            margin-bottom: 30px;
        }
        &:last-of-type {
            @media #{$maxMobile} {
                margin-bottom: 0;
            }
        }
        i {
            color: $colorOne;
            font-size: 40px;
        }
        ul {
            margin-top: 25px;
            li {
                color: $flat72;
                margin-bottom: 8px;
                font-size: 19px;
                a {
                    text-decoration: none;
                    color: $flat72;
                }
            }
        }
    }
}