.contact-btn {
    background-color: $colorOne;
    padding: 12px 30px;
    margin-top: 15px;
    font-weight: bold;
    color: $flatFFF;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    transition: $trans;
    opacity: 0;
    &.special {
        z-index: 9999;
    }
    .popup-container {
        height: 600px;
        @media #{$maxMobile} {
            height: 400px;
        }
        > div {
            background-color: #FFF;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        button {
            position: fixed;
            top: 50%;
            background-color: $flatblack;
            box-shadow: none;
            i {
                color: $flatFFF;
            }
            &:first-of-type {
                right: 30px;
            }
            &:last-of-type {
                left: 30px;
            }
        }
    }
}
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999999999999;
    a {
        display: block;
        padding: 7px 11px;
        background-color: $whatsapp;
        border-radius: 15px;
        position: relative;
        span {
            position: absolute;
            top: 15px;
            left: -105px;
            background-color: $whatsapp;
            color: $flatFFF;
            padding: 2px 5px;
            border-radius: 5px;
            transition: .4s ease;
            display: none;
        }
        i {
            font-size: 40px;
            color: $flatFFF;
        }
    }
    &:hover {
        span {
            display: block;
        }
    }
}