// Media Queries
$maxExtraMobile: "(max-width: 575px)";
$minMobile: "(min-width: 576px)";
$maxMobile: "(max-width: 767px)";

// vars
$trans: .4s;

// colors
$colorOne: #f7c02e;
$flatE6: #e6e6e6;
$flat2E: #2e2e2e;
$flat72: #727272;
$flat74: #747474;
$flatblack: #000;
$flat1F: #1f1f1f;
$flatFFF: #FFF;
$flatF4: #f4f4f3;
$flat8C: #8c8c8c;
$whatsapp: #25D366;
